{% extends "app.html" %}

{% block content %}

<div class="row-justify-content-center">
  <div class="col-sm-6">
   <h2 class="text-muted">Register</h2>
  <form method="POST" action="{% url 'register' %}">
    {% csrf_token %}
    <div class="form-group">
      <label for="{{ form.username.id_for_label }}">Username:</label>
      <input type="text" class="form-control" id="username" name="{{ form.username.name }}" required>
      <span class="text-danger">{{ form.username.errors }}</span>
    </div>

    <div class="form-group">
      <label for="{{ form.password1.id_for_label }}">password:</label>
      <input type="password" class="form-control" id="password1" name="{{ form.password1.name }}" required>
      <span class="text-danger">{{ form.password1.errors }}</span>
    </div>

    <div class="form-group">
      <label for="{{ form.password2.id_for_label }}">confirm password:</label>
      <input type="password" class="form-control" id="password2" name="{{ form.password2.name }}" required>
      <span class="text-danger">{{ form.password2.errors }}</span>
    </div>

    <button type="submit" class="btn btn-primary">Register</button>
    <a href="{% url 'login' %}" class="btn btn-secondary">Login here</a>
  </form>
</div>
</div>
{% endblock %}